<app-organisaer-header></app-organisaer-header>




<div class="container-fluid">
    <div class="row">
      <div class="col-sm-11 d-flex flex-column justify-content-center align-items-center" style="margin: 4%; background-color: #3482ad;">
        <div style="display: flex; align-items: center; justify-content: center;">
          <img src="../assets/images/Aventura Events-logos_white -2.png" alt="Center Image" height="100px" width="200px">
        </div>

        <div style="text-align: center;">
            <h2 style="text-decoration: underline;">WE HAVE SOME POLICIES</h2>
          </div>
  
        <div class="irish-grover" style="text-align: center;color: white;">
          <h2 style="text-decoration: underline; text-transform: uppercase;">1.REGISTRATION AND TICKETING POLICY</h2>
          <p style="text-transform: uppercase;">Clearly outline the registration process, ticket pricing, refund policy, and any terms and conditions associated with ticket purchases.</p>
          
          <h2 style="text-decoration: underline; text-transform: uppercase;">2.CODE OF CONDUCT POLICY</h2>
          <p style="text-transform: uppercase;">Establish guidelines for appropriate behavior and conduct at events, including rules against harassment, discrimination, and disruptive behavior. Make it clear that violations may result in expulsion from the event without a refund.</p>
          
          <h2 style="text-decoration: underline; text-transform: uppercase;">3.PRIVACY AND DATA PROTECTION POLICY</h2>
          <p style="text-transform: uppercase;">Detail how attendee information will be collected, stored, and used, ensuring compliance with applicable data protection laws. Assure attendees that their personal information will be kept confidential and used solely for event-related purposes.</p>
          
          <h2 style="text-decoration: underline; text-transform: uppercase;">4.SECURITY AND SAFETY POLICY</h2>
          <p style="text-transform: uppercase;">Address the measures in place to ensure the safety and security of attendees, including crowd management, emergency response protocols, and contingency plans for unforeseen circumstances.</p>
          
          <h2 style="text-decoration: underline; text-transform: uppercase;">5.IF ANY BAD REPORTS FROM USERS</h2>
          <p style="text-transform: uppercase;">WE WILL BLOCK AND DELETE YOUR ACCOUNT AND TAKE SOME ACTION</p>
        </div>
        <h1 class="irish-grover" style="color: wheat;">THIS IS NOT A FREE SERVICE SO YOU WHANT TO PAY US MONTHLY 20,000₹</h1>
        <div fxLayout="row" fxLayoutAlign="center" style="bottom: 3px;">
          <button mat-raised-button color="primary" type="submit" (click)="paynow()">
            Pay
          </button>
        </div>
      </div>
    </div>
  </div>
  
  