<mat-toolbar color="primary" class="mat-elevation-z8">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Organisaer</span>
  <span class="example-spacer"></span>
  <button routerLink="../organisaerhome" mat-button>Home</button>

  
</mat-toolbar>
<mat-drawer-container autosize>
  <mat-drawer
    #drawer
    opened="true"
    color="primary"
    mode="side"
    position="start"
  >
  <mat-nav-list>
    <mat-list-item>
      <button routerLink="../organisaerhome" mat-button>
        <mat-icon>dashboard</mat-icon> Dashboard
      </button>
    </mat-list-item>
    <mat-list-item>
      <button routerLink="../organisaerhome" mat-button>
        <mat-icon>home</mat-icon> Home
      </button>
    </mat-list-item>
    <mat-list-item>
      <button routerLink="../eventadding" mat-button>
        <mat-icon>explore</mat-icon> Add Event
      </button>
    </mat-list-item>
    <mat-list-item>
      <button routerLink="../eventlist" mat-button>
        <mat-icon>table</mat-icon> Event List
      </button>
    </mat-list-item>
    <mat-list-item>
      <button routerLink="../bookedevent" mat-button>
        <mat-icon>event</mat-icon> BookedEvents
      </button>
    </mat-list-item>
  </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="text-align: center; min-height: 600px">
      <div fxLayoutAlign="center" class="register">
        <mat-card fxFlex="60" style="background-color: #3482ad; margin: 20px">
          <form
          #eventaddingFormElement
            [formGroup]="eventaddingForm"
            (ngSubmit)="eventaddingSubmit()"
            style="padding: 20px"
          >
            <div
              fxLayout="row"
              fxLayoutAlign="space-between"
              fxLayoutGap="20px"
            >
              <div fxFlex="45">
                <mat-form-field style="width: 100%">
                  <mat-label>Event Name</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Event Name"
                    formControlName="eventName"
                  />
                </mat-form-field>
              </div>
              <div fxFlex="45">
                <mat-form-field style="width: 100%">
                  <mat-label>Event Rate</mat-label>
                  <input
                    matInput
                    type="number"
                    placeholder="Event Rate"
                    formControlName="eventRate"
                  />
                </mat-form-field>
              </div>
            </div>

            <mat-form-field style="width: 100%">
              <mat-label>Features</mat-label>
              <input
                matInput
                type="text"
                placeholder="Features"
                formControlName="features"
              />
            </mat-form-field>

            <mat-form-field style="width: 100%">
              <mat-label>Phone</mat-label>
              <input
                matInput
                type="number"
                placeholder="Number"
                formControlName="number"
              />
            </mat-form-field>

            <mat-label>Image</mat-label>
            <input type="file" (change)="handleImageInput($event)" />
            <span *ngIf="selectedFileName">{{ selectedFileName }}</span>

            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!eventaddingForm.valid"
            >
              Add
            </button>
          </form>
        </mat-card>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
