/* app-user-navbar.component.css */
:host {
    display: block;
  }
  
  /* Set the background color for the component */
  :host {
    background-color: #0c192c;
  }
.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

} 

.progress-container {
  width: 100%;
  height: 4px;
  background-color: #f0f0f0;
}

.progress-bar {
  height: 100%;
  width: 0;
  background-color: #007bff;
  transition: width 0.3s ease-in-out;
}
