/* app-user-navbar.component.css */
:host {
    display: block;
  }
  
  /* Set the background color for the component */
  :host {
    background-color: #0c192c;
  }
.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

} 
.carde{
  background-color: #f0f0f0;
}

.progress-container {
  width: 100%;
  height: 4px;
  background-color: #f0f0f0;
}

.progress-bar {
  height: 100%;
  width: 0;
  background-color: #007bff;
  transition: width 0.3s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animated-heading {
  animation: slideIn 1s ease forwards;
}



.card {
transition: transform 0.3s ease;
}

.card:hover {
transform: scale(1.05);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
cursor: pointer; /* Optional: Change the cursor on hover to indicate interactivity */
}

/* Add some spacing between cards */
.card {
margin-bottom: 20px;
}


/* user-eventlisting.component.css */

/* Set fixed height and width for card images */
.card-img-top {
max-height: 200px; /* Adjust this value as needed */
object-fit: cover; /* This ensures the image maintains its aspect ratio */
}

/* Set fixed height for the card body to ensure uniform card sizes */
.card-body {
height: 140px; /* Adjust this value as needed */
}

/* Set fixed height for the card footer to ensure uniform card sizes */
.card-footer {
height: 60px; /* Adjust this value as needed */
}

/* Center the button vertically within the card footer */
.button-group {
display: flex;
align-items: center;
justify-content: center;
height: 100%;
}

@keyframes fadeIn {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}

.no-data-message {
animation: fadeIn 0.5s ease-in-out;
}
