<app-user-header></app-user-header>

<div fxLayoutAlign="center" class="register">
  <mat-card fxFlex="60" style="background-color: #3482ad; margin: 20px;">
    <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()" style="padding: 20px;">
      <mat-form-field style="width: 100%;">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Email" formControlName="email" />
      </mat-form-field>

  

      <button mat-raised-button color="primary" type="submit">Login</button>
    
    </form>
  </mat-card>
</div>

  