<mat-toolbar color="primary" class="mat-elevation-z8">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Organisaer List</span>
  <span class="example-spacer"></span>
  <button routerLink="" mat-button>Home</button>


</mat-toolbar>
<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
      <mat-list-item>
        <button routerLink="../adminhome " mat-button>
          <mat-icon>dashboard</mat-icon> Dashboard
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="../adminhome" mat-button><mat-icon>home</mat-icon> Home</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="../userlist" mat-button>
          <mat-icon>explore</mat-icon> UserList
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="../organisaerlist" mat-button>
          <mat-icon>table</mat-icon>OrganisaerList
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="../verfiy" mat-button>
          <mat-icon>table</mat-icon>Request
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="../chatlist" mat-button>
          <mat-icon>chat_bubble</mat-icon> Chat
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="text-align: center; min-height: 600px">
      <table mat-table [dataSource]="organisaers" class="mat-elevation-z8">
        <!-- Column definitions -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let organisaers">
            {{ organisaers.firstName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let organisaers">
            {{ organisaers.email }}
          </td>
        </ng-container>

        <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell *matHeaderCellDef>Phone Number</th>
          <td mat-cell *matCellDef="let organisaers">
            {{ organisaers.phone }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let row">
            <div class="button-container">
              <button
                mat-icon-button
                (click)="toggleStatus(row)"
                class="status-button"
              >
                <mat-icon>{{ row.status ? "lock" : "lock_open" }}</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <!-- Table rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
