<app-user-navbar></app-user-navbar>
<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>

<body style="margin: 0; padding: 0; background-color: #0c192c">
  <div>
    <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.8)"
      size="medium"
      color="#fff"
      type="ball-scale-multiple"
      [fullScreen]="true"
    >
      <p style="color: white">Loading...</p>
    </ngx-spinner>
  </div>

  <div class="content-container" style="padding-top: 5%">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let event of organiser">
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">
                Organizer: {{ event.firstName }} {{ event.lastName }}
              </h2>
              <p class="card-text">companyName: {{ event.companyName }}</p>
              <h5 class="card-text">phone: {{ event.phone }}</h5>
              <p class="card-text">company email: {{ event.email }}</p>
              <p class="card-text">company address: {{ event.address }}</p>
            </div>
            <div class="card-footer">
              <!-- Add any footer content if needed -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="https://www.facebook.com/"
          role="button"
        >
          <i class="fab fa-facebook-f"></i>
        </a>

        <!-- Twitter -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="https://twitter.com/"
          role="button"
        >
          <i class="fab fa-twitter"></i>
        </a>

        <!-- Google -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="https://www.google.com/"
          role="button"
        >
          <i class="fab fa-google"></i>
        </a>

        <!-- Instagram -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="https://www.instagram.com/"
          role="button"
        >
          <i class="fab fa-instagram"></i>
        </a>

        <!-- Linkedin -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="https://www.linkedin.com/"
          role="button"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>

        <!-- Github -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="https://github.com/"
          role="button"
        >
          <i class="fab fa-github"></i>
        </a>
      </section>
      <!-- Section: Social media -->

      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
          distinctio earum repellat quaerat voluptatibus placeat nam, commodi
          optio pariatur est quia magnam eum harum corrupti dicta, aliquam sequi
          voluptate quas.
        </p>
      </section>
      <!-- Section: Text -->
    </div>
    <!-- Copyright -->
    <div class="text-center p-3">
      © 2023 Copyright:
      <a class="text-white" href="https://example.com/">AVENTURA EVENTS</a>
    </div>
    <!-- Copyright -->
  </footer>
</body>
