:host {
    display: block;
  }
  
  /* Set the background color for the component */
  :host {
    background-color: #0c192c;
  }

  /* Add border and padding to the input boxes */
.form-control {
  border: 1px solid #ced4da; /* Border color */
  padding: 0.375rem 0.75rem; /* Top and bottom padding */
}

/* Add rounded corners to the input boxes */
.form-control:focus {
  outline: 0; /* Remove the default focus outline */
  border-color: #80bdff; /* Border color when focused */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Box shadow when focused */
}
