<mat-toolbar color="primary" class="mat-elevation-z8">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Admin Home</span>
  <span class="example-spacer"></span>
  <button routerLink="../adminhome" mat-button>Home</button>

 
</mat-toolbar>
<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
      <mat-list-item>
        <button routerLink="../adminhome " mat-button>
          <mat-icon>dashboard</mat-icon> Dashboard
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="../adminhome" mat-button><mat-icon>home</mat-icon> Home</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="../userlist" mat-button>
          <mat-icon>explore</mat-icon> UserList
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="../organisaerlist" mat-button>
          <mat-icon>table</mat-icon>OrganisaerList
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="../verfiy" mat-button>
          <mat-icon>table</mat-icon>Request
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="../chatlist" mat-button>
          <mat-icon>chat_bubble</mat-icon> Chat
        </button>
      </mat-list-item>
      <mat-list-item>
        <button (click)="logout()" mat-button>
          <mat-icon>logout</mat-icon> Logout
        </button>
      </mat-list-item>
     
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div>
      <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
    </div>    
    <div>
      <canvasjs-chart [options]="organizerChartOptions"></canvasjs-chart>
    </div>    
    
  </mat-drawer-content>
</mat-drawer-container>
