.organisaer {
    width: auto;
    height: 204px;
    position: absolute;
    background: #3482AD;
    overflow: hidden;
    font-size: 16px;
    text-align: center;
    font-family: "Irish Grover", sans-serif;
    text-transform: uppercase;
    color: white;
    padding: 5%;
  }
  
