<mat-toolbar color="primary" class="mat-elevation-z8">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>UserList</span>
  <span class="example-spacer"></span>
  <button routerLink="" mat-button>Home</button>

  <mat-menu #company="matMenu">
    <button mat-menu-item>Term</button>
    <button mat-menu-item>Tax</button>
    <button mat-menu-item>Currency</button>
  </mat-menu>
  <mat-menu #customer="matMenu">
    <button mat-menu-item>Type</button>
    <button mat-menu-item>Tax</button>
  </mat-menu>
  <mat-menu #product="matMenu">
    <button mat-menu-item>Category</button>
    <button [matMenuTriggerFor]="variant" mat-menu-item>Variant</button>
    <button mat-menu-item>UOM</button>
  </mat-menu>

  <mat-menu #variant="matMenu">
    <button mat-menu-item>Color</button>
    <button mat-menu-item>Size</button>
  </mat-menu>

  <button routerLink="input" mat-button>Input</button>
  <button routerLink="autocomplete" mat-button>Autocomplete</button>
  <a
    href="https://www.youtube.com/channel/UCsbmVmB_or8sVLLEq4XhE_A/join"
    mat-raised-button
    color="accent"
    >Join Us</a
  >
</mat-toolbar>
<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
      <mat-list-item>
        <button routerLink="../adminhome " mat-button>
          <mat-icon>dashboard</mat-icon> Dashboard
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="../adminhome" mat-button>
          <mat-icon>home</mat-icon> Home
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="userlist" mat-button>
          <mat-icon>explore</mat-icon> UserList
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="" mat-button>
          <mat-icon>table</mat-icon> OrganisaerList
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button><mat-icon>settings</mat-icon> Settings</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button><mat-icon>help</mat-icon> Help</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button><mat-icon>analytics</mat-icon> analytics</button>
      </mat-list-item>
      <mat-list-item>
        <button  mat-button>
          <mat-icon>logout</mat-icon> Logout
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
 <mat-drawer-content>
  <div style="text-align: center; min-height: 500px">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Image</th>
          <th>EventName</th>
          <th>Features</th>
          <th>EventRate</th>
          <th>Phone</th>
          <th>Status</th> <!-- Add the header for the Status column -->
          <th>Edit</th> <!-- Add a new column for the Edit button -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of dataSource.data">
          <td>
            <img [src]="getImageUrl(event)" alt="Event Image" style="max-height: 100px; max-width: 100px;">
          </td>
          <td>{{ event.eventName }}</td>
          <td>{{ event.features }}</td>
          <td>{{ event.eventRate }}</td>
          <td>{{ event.phone }}</td>
          <td>
            <!-- Add the button for blocking/unblocking -->
            <div class="button-container">
              <button mat-raised-button color="{{ event.status ? 'primary' : 'warn' }}" (click)="toggleStatus(event._id, event.status)">
                {{ event.status ? 'Unblock' : 'Block' }}
              </button>
            </div>
          </td>
          <td>
            <!-- Add the Edit button -->
            <button class="btn btn-primary" (click)="navigateToEdit(event._id)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
</mat-drawer-content>

</mat-drawer-container>
