<mat-toolbar color="primary" class="mat-elevation-z8">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Organisaer</span>
  <span class="example-spacer"></span>
  <button routerLink="../organisaerhome" mat-button>Home</button>
</mat-toolbar>
<mat-drawer-container autosize>
  <mat-drawer
    #drawer
    opened="true"
    color="primary"
    mode="side"
    position="start"
  >
    <mat-nav-list>
      <mat-list-item>
        <button routerLink="../organisaerhome" mat-button>
          <mat-icon>dashboard</mat-icon> Dashboard
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="../organisaerhome" mat-button>
          <mat-icon>home</mat-icon> Home
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="../eventadding" mat-button>
          <mat-icon>explore</mat-icon> Add Event
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="../eventlist" mat-button>
          <mat-icon>table</mat-icon> Event List
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="../bookedevent">
          <mat-icon>Settings</mat-icon> BookedEvents
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="text-align: center; min-height: 600px">
      <div fxLayoutAlign="center" class="register">
        <mat-card fxFlex="60" style="background-color: #3482ad; margin: 20px">
          <form
            [formGroup]="profileEditingForm"
            (ngSubmit)="onSubmit()"
            style="padding: 20px"
            *ngIf="data"
          >
            <div
              fxLayout="row"
              fxLayoutAlign="space-between"
              fxLayoutGap="20px"
            >
              <div fxFlex="45">
                <mat-form-field style="width: 100%">
                  <mat-label>First Name</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="First Name"
                    formControlName="firstName"
                  />
                </mat-form-field>
              </div>
              <div fxFlex="45">
                <mat-form-field style="width: 100%">
                  <mat-label>Last Name</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Last Name"
                    formControlName="lastName"
                  />
                </mat-form-field>
              </div>
            </div>
            <div
              fxLayout="row"
              fxLayoutAlign="space-between"
              fxLayoutGap="20px"
            >
              <div fxFlex="45">
                <mat-form-field style="width: 100%">
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Email"
                    formControlName="email"
                  />
                </mat-form-field>
              </div>
              <div fxFlex="45">
                <mat-form-field style="width: 100%">
                  <mat-label>Phone</mat-label>
                  <input
                    matInput
                    type="number"
                    placeholder="Phone"
                    formControlName="phone"
                  />
                </mat-form-field>
              </div>
            </div>
            <mat-form-field style="width: 100%">
              <mat-label>Address</mat-label>
              <input
                matInput
                type="text"
                placeholder="Address"
                formControlName="address"
              />
            </mat-form-field>

            <mat-form-field style="width: 100%">
                <mat-label>CompanyName</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="CompanyName"
                  formControlName="companyName"
                />
              </mat-form-field>
  

            <!-- Add other form controls for other properties you want to edit -->

            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!profileEditingForm.valid"
            >
              Update Now
            </button>
          </form>
        </mat-card>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
